<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p>
    <a th:href="@{/contractDetail}" class="btn-primary">
        Back to contract list
    </a>
</p>

<div class="container-fluid" >
    <form th:action="@{/contractDetail/create}" th:object="${contractDetail}"
          method="POST" novalidate="novalidate">
        <div>
            <label>Contract Detail Id</label>
            <input class="input-group mb-3" type="text" th:field="*{id}"/>
        </div>
        <div>
            <label>Contract Id</label>
            <!--            <input class="input-group mb-3" type="text" th:field="*{contract.contractId}"/>-->
            <select th:field="*{contract}" class="form-control" name="Order">
                <option th:each="co : ${contractList}"
                        th:value="${co.id}"
                        th:text="${co.id}">
                </option>
            </select>
        </div>
        <div>
            <label>Attach Service</label>
            <!--            <input class="input-group mb-3" type="text" th:field="*{attachService.attachServiceId}"/>-->
            <select th:field="*{attachService}" class="form-control" name="Order">
                <option th:each="at : ${attachServiceList}"
                        th:value="${at.id}"
                        th:text="${at.attachServiceName}">
                </option>
            </select>
        </div>
        <input class="btn badge-dark" type="submit" value="Save">
    </form>
</div>
</body>
</html>