<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">

    <div id="content" style="background-color: whitesmoke">
        <div class="row">
        </div>
        <div class="col-lg-12 bg-light" >
            <table class="table table-striped">
                <tr>
                    <th>Service ID:</th>
                    <td th:text="${service.serviceId}"></td>
                </tr>
                <tr>
                    <th>Name:</th>
                    <td th:text="${service.serviceName}"></td>
                </tr>
                <tr>
                    <th>Area:</th>
                    <td th:text="${service.serviceArea}"></td>
                </tr>
                <tr>
                    <th>Cost:</th>
                    <td th:text="${service.serviceCost}"></td>
                </tr>
                <tr>
                    <th>Max people:</th>
                    <td th:text="${service.serviceMaxPeople}"></td>
                </tr>
                <tr>
                    <th>Standard Room:</th>
                    <td th:text="${service.standardRoom}"></td>
                </tr>
                <tr>
                    <th>Number of Floors:</th>
                    <td th:text="${service.numberOfFloors}"></td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td th:text="${service.descriptionOtherConvenience}"></td>
                </tr>
                <tr>
                    <th>Pool Area:</th>
                    <td th:text="${service.poolArea}"></td>
                </tr>
                <tr>
                    <th>Rent Type:</th>
                    <td th:text="${service.rentType.name}"></td>
                </tr>


            </table>
            <a th:href="@{/customer}" class="btn btn-outline-info">Back</a>
        </div>
    </div>
</div>
