<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
            crossorigin="anonymous"
    />
</head>
<body>
<div><h1 style="color: #1c7430 ; margin-left: 440px;">Danh Sách Đơn Hàng</h1></div>
<a th:href="@{/create}">
    <button type="button" class="btn btn-primary">Thêm Mới</button>
</a>

<form class="form-inline my-2 my-lg-0" th:action="@{/listDonHang}">
<!--    <div class="dropdown row">-->
<!--        <input class="form-control mr-sm-2" type="search" th:name="tieuDe" placeholder="Search"-->
<!--               aria-label="Search">-->
<!--        &lt;!&ndash;        <input class="form-control mr-sm-2" type="search" th:name="nameService" placeholder="Search"&ndash;&gt;-->
<!--        &lt;!&ndash;               aria-label="Search">&ndash;&gt;-->
<!--        <select class="btn btn-primary dropdown-toggle" name="loaiCauHoi" id="nameService">-->
<!--            <option value="Học Tập">Học Tập</option>-->
<!--            <option value="Khác">Khác</option>-->
<!--            <option value="Giáo Vụ">Giáo Vụ</option>-->
<!--        </select>-->
<!--        <div>-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </div>-->
<!--    </div>-->
</form>
<table style="width: 100% ; background-color: #6f42c1 ; color: white" class="table table-danger" border="1">
    <thead>
    <tr>
        <th>STT</th>
        <th>Mã đơn hàng</th>
        <th>Tên sản phẩm</th>
        <th>Giá (USD)</th>
        <th>Loại sản phẩm</th>
        <th>Ngày mua</th>
        <th>Số lượng</th>
<!--        <th>Tổng tiền</th>-->
        <th>Tính Năng</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="d :${sanpham}">
        <td th:text="${d.id}"></td>
        <td th:text="${d.donHang.maDonHang}"></td>
        <td th:text="${d.tenSanPham}"></td>
        <td th:text="${d.giaSanPham}"></td>
        <td th:text="${d.loaiSanPham.ten}"></td>
        <td th:text="${d.donHang.ngayMua}"></td>
        <td th:text="${d.donHang.soLuong}"></td>
        <td >
            <button class="btnModalView btn btn-outline-info btn-lg" th:value="${d.id}"><i class="fas fa-eye" style="font-size:20px;"></i></button>
            <button class="btnModalDelete btn btn-outline-info btn-lg " th:value="${d.id}">
                <i class="fas fa-trash" style="font-size:23px;"></i>
            </button>
            <button class="btnModalEdit btn btn-outline-info btn-lg " th:value="${d.id}"><i class="fas fa-edit" style="font-size:20px;"></i></button>
        </td>
    </tr>
    </tbody>

</table>
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Body
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>
<script>
    $(document).ready(function(){
        $(".btnModalEdit").click(function () {
            $.ajax({
                type:"GET",
                url:"/edit/"+ $(this).val(),
                dataType:"HTML",
                success:function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal('show');
                }
            })
        })
    })
</script>
</body>
</html>