<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<div class="container-fluid">
    <!--    <div th:replace="layout :: header"></div>-->
    <!--    <div th:replace="layout :: nav"></div>-->
    <div id="content" style="background-color: whitesmoke">
        <div class="row">
            <!--            <div class="col-lg-2 bg-light" th:replace="layout :: col2">-->
        </div>
        <div class="col-lg-12 bg-light" >
            <table class="table table-striped">
                <tr>
                    <th>Name:</th>
                    <td th:text="${customer.name}"></td>
                </tr>
                <tr>
                    <th>Date of birth:</th>
                    <td th:text="${customer.dateOfBirth}"></td>
                </tr>
                <tr>
                    <th>Gender:</th>
                    <th:block th:switch="${customer.gender}">
                        <td th:case="0">Male</td>
                        <td th:case="1">Female</td>
                        <td th:case="*">Other</td>
                    </th:block>
                </tr>
                <tr>
                    <th>ID Card:</th>
                    <td th:text="${customer.cmnd}"></td>
                </tr>
                <tr>
                    <th>Phone number:</th>
                    <td th:text="${customer.phoneNumb}"></td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td th:text="${customer.email}"></td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td th:text="${customer.address}"></td>
                </tr>
                <tr>
                    <th>Customer Type:</th>
                    <td th:text="${customer.customerType.getName()}"></td>
                </tr>


            </table>
            <a th:href="@{/customer}" class="btn btn-outline-info">Back</a>
        </div>
    </div>
</div>
</div>


</body>
</html>